extends layout

block content
	div(class="page uploadPage")
		div(class="row")
			form(method="post",enctype="multipart/form-data",action="/upload")
				input(type="file",name="csvFile", multiple)
				input(type="submit" value="Upload")
		hr
		div(class="row")
			//- inputs jquery list of files currently on server
			div(class="listOfFiles") 