header,
body,
footer {
	padding-left: 240px;
}

@media only screen and (max-width: 992px) {
	header,
	body,
	footer {
		padding-left: 0;
	}
}

@media print {
	body * {
		visibility: hidden;
	}
	#section-to-print,
	#section-to-print * {
		visibility: visible;
	}
	#section-to-print {
		position: absolute;
		left: 0;
		top: 0;
	}
}

body {
	/*padding-top: 50px;*/
	background-color: #fff;
	margin: 0;
	margin: 0 auto;
	/*font-size: 0.8em;*/
}

a {
	color: #00B7FF;
}

ul.success li,
ul.info li,
ul.error li {
	margin: 20px 0 20px 0;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style: none;
}

ul.success li {
	color: #3c763d;
	background: #dff0d8;
	border-color: #d6e9c6;
}

ul.info li {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

ul.success li {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.page {
	margin-top: 50px;
	background-color: white;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.letter {
	width: 21cm;
	height: 29.7cm;
	padding-left: 1cm;
	padding-right: 1cm;
	padding-top: 5mm;
	page-break-after: always;
	page-break-inside: avoid;
	font-size: 9pt;
	position: relative;
	font-family: "Helvetica Neue", sans-serif;
	/*background-color: white;*/
}

@media screen {
	.letter {
		border: 1px solid black;
		box-shadow: 6px 6px 6px #666;
		margin: 2em auto;
		line-height: 1;
	}
}

.primroseYellow {
	background-color: rgb(251, 161, 27);
}

.brand-logo {
	height: inherit;
}

.angular-google-map-container {
	height: 400px;
}

.metro {
	background-color: #751056;
	color: white;
}

.formSubmit {
	margin-bottom: 50px;
	margin-top: 50px;
}

#wrapper {
	/*margin: 0 auto;*/
	/*font-size: 1.6em;*/
}

.btn-custom:hover {
	background-color: #3d5afe;
}

#formBorder {
	border: solid thin;
}

.monthReport th,
td {
	text-align: left;
	padding: 0px;
}

.monthReport tr:nth-child(even) {
	background-color: #f2f2f2
}

.monthReport th {
	background-color: rgb(251, 161, 27);
	color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	text-align: center;
}

.monthReportCol .row .col {
	padding: 0 !important;
}

.logo {
	text-align: right;
}

.tableTitle {
	background-color: rgb(251, 161, 27);
	color: white;
	text-align: center;
	margin: 0px;
}

#chartMonthGeneration {
	height: 300px;
	width: 100%;
}

#chartMonthSumGeneration {
	height: 250px;
	width: 50%;
	float: left;
}

#chartMonthPR {
	height: 250px;
	width: 50%;
	float: right;
}

.portfolioTable td {
	border: 1px solid black;
}

.text-red {
	color: red;
}

.text-green {
	color: green;
}

.text-black {
	color: black;
}

.metroTable {
	font-size: 10pt;
	table-layout: fixed;
	border-collapse: collapse;
}

.metroTable th {
	color: white;
	background-color: rgb(251, 161, 27);
	padding: 0.3em;
	border-radius: 0px;
	text-align: center;
}

.metroTable td {
	border-right: solid thin white;
	text-align: center;
	padding: 0.3em;
	border-radius: 0px;
}

.metroTable tr:nth-child(odd) {
	/*color: white;*/
	background-color: rgb(251, 161, 27);
}

.metroTable tr:hover {
	background-color: #c67803;
	color: white;
}

#topNavDrop a {
	color: #3d5afe;
}

#symbol:after {
	content: '\25b2';
}

#symbol.reverse:after {
	content: '\25bc';
}


/*#chartMonthGenerationPortfolio {
		height: 250px;
		width: 50%;
		float: left;
}

#chartMonthPRPortfolio {
		height: 250px;
		width: 50%;
		float: right;
}

#chartMonthEsolPortfolio {
		height: 250px;
		width: 50%;
		float: left;
}

#chartYearGenerationPortfolio {
		height: 250px;
		width: 50%;
		float: right;
}*/