<div class="row">
	<div class="page">
		<p ng-show="!inverterData">Data is loading, please be patient</p>
		<table ng-show="inverterData" class="metroTable">
			<caption>Summary of inverters output</caption>
			<tr>
				<th>Date</th>
				<th ng-repeat="(key, val) in inverterData[0]" ng-if="!$first">{{substringAng(key)}}</th>
			</tr>
			<tr ng-repeat="inverter in inverterData">
				<td>{{inverter.date | date:'dd/MM hh:mm' }}</td>
				<td ng-repeat="n in inverter" ng-if="!$first">{{inverter.inverter_+n | number:0}}</td>
			</tr>
		</table>
	</div>
</div>