<div class="row">
  <div class="input-field col s4 m4">
    <input id="day-of-month" type="number" class="validate" ng-model="datePicked.day">
    <label for="day-of-month">Day of month</label>
  </div>
</div>
<div class="row">
  <div class=" col s4 m4">
    <label>Month Select</label>
    <select class="browser-default" ng-model="datePicked.month" ng-options="month.name for month in months">
      <option value="" disabled selected>Choose your option</option>
    </select>
  </div>
</div>
<div class="row">
  <div class=" col s4 m4">
    <label>Year Select</label>
    <select class="browser-default" ng-model="datePicked.year">
      <option value="" disabled selected>Choose your option</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="input-field col s4 m4">
    <input id="number-of-days" type="number" class="validate" ng-model="datePicked.numberOfDays">
    <label for="number-of-days">Number of days</label>
  </div>
</div>
<div class="row">
  <p>
    <a ng-hide="datePicked.year == null || datePicked.day == null || datePicked.month.name == null || datePicked.numberOfDays == null" class="waves-effect waves-light" class="waves-effect waves-light" ui-sref="parent.reportsSelect({day:datePicked.day, month:datePicked.month.value, year:datePicked.year, numberOfDays:datePicked.numberOfDays})">Display report for date {{datePicked.day}} {{datePicked.month.name}} {{datePicked.year}}, and {{datePicked.numberOfDays}} day/s</a>

  </p>
</div>
<div class="row">
  Report for last 14 days from today
  <table class="incidentTable" style="width:100%" >
    <tr>
      <th>Site</th>
      <th>Availabilty</th>
      <th>Over 0</th>
      <th>PR</th>
      <th>Export</th>
    </tr>
    <tr ng-repeat="site in allReports">
      <td>{{site.site}}</td>
      <td>{{site.avail * 100 | number }}%</td>
      <td>{{site.Over0 * 100 | number }}%</td>
      <td>{{site.PR * 100 | number }}%</td>
      <td>{{site.export | number}}</td>
    </tr>
  </table>
</div>
