<div class="row">
    <div class="col s6 m4">
        <label for="selectStartDate">Select start date: </label>
        <input type="date" ng-model="selectStartDate" name="input" required>
    </div>
    <div class="col s6 m4">
        <label for="selectStartDate">Select end date: </label>
        <input type="date" ng-model="selectEndDate" name="input" required>
    </div>
    <button class="btn waves-effect waves-light" ui-sref="parent.reportsAll({startDate:convertDate(selectStartDate), endDate:convertDate(selectEndDate)})">Submit</button>
</div>
<div class="row">
    <p>You are looking at the report between {{startDate}} and {{endDate}}.</p>
    <a download="Report all.csv" href="" onclick="return ExcellentExport.csv(this, 'incidentTable');">Export to CSV</a>
    <br/>
    <table class="incidentTable" id="incidentTable" style="width:100%">
        <tr>
            <th>Site</th>
            <th>Comms availabilty</th>
            <th>Inverter availabilty</th>
            <th>PR</th>
            <th>Export</th>
        </tr>
        <tr ng-repeat="site in allReports">
            <td>{{site.site}}</td>
            <td>{{site.avail * 100 | number:1 }}%</td>
            <td>{{site.Over0 * 100 | number:1 }}%</td>
            <td>{{site.PR * 100 | number:1 }}%</td>
            <td>{{site.export | number:1 }}</td>
        </tr>
    </table>
</div>