<div class="row">
	<div class="col s6 m4">
		<label for="selectStartDate">Select start date: </label>
		<input type="date" ng-model="selectStartDate" name="input" required>
	</div>
	<div class="col s6 m4">
		<label for="selectStartDate">Select end date: </label>
		<input type="date" ng-model="selectEndDate" name="input" required>
	</div>
	<button class="btn waves-effect waves-light" ui-sref="parent.reportsSelect({startDate:convertDate(selectStartDate), endDate:convertDate(selectEndDate)})">Submit</button>
</div>
Table showing stats between (and including) dates {{ chosenStartDate }} and {{ chosenEndDate }}.
<div class="row">
	<table class="incidentTable" style="width:100%">
		<tr>
			<th>Site</th>
			<th>Comms availabilty</th>
			<th>Inverter availabilty</th>
			<th>PR</th>
			<th>Export</th>
		</tr>
		<tr ng-repeat="site in selectReports">
			<td>{{site.site}}</td>
			<td>{{site.avail * 100 | number:1 }}%</td>
			<td>{{site.Over0 * 100 | number:1 }}%</td>
			<td>{{site.PR * 100 | number:1 }}%</td>
			<td>{{site.export | number:1 }}</td>
		</tr>
	</table>
</div>