<h3>New incident form</h3>

<div class="row">
  <div class="card-panel col m6">
    <form name="incidentForm" role="form" action="/users/newIncidentLog" method="post">
      <label>Loss of generation</label>
      <select class="browser-default" name="site" required>
        <option value="" disabled selected>Choose your option</option>
        <option ng-repeat="name in incidentSiteName" value={{name.id}}>{{name.name}}</option>
      </select>
      <div class="row">
        <div class="col s6 m6">
          <label for="selectStartDate">Select start date: </label>
          <input type="date" name="selectStartDate" name="input" required>
        </div>
        <div class="col s6 m6">
          <label for="selectStartTime">Select start time: </label>
          <input type="time" name="selectStartTime" name="input" required>
        </div>
        <div class="col s6 m6">
          <label for="selectEndDate">Select end date: </label>
          <input type="date" name="selectEndDate" name="input">
        </div>
        <div class="col s6 m6">
          <label for="selectEndTime">Select end time: </label>
          <input type="time" name="selectEndTime" name="input">
        </div>
      </div>
      <div class="input-field">
        <input name="reportedByPerson" type="text" class="validate" required>
        <label for="reportedByPerson">Reported by person</label>
      </div>
      <label>Which company reported?</label>
      <select class="browser-default" name="reportedByCompany" required>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Primrose</option>
        <option value="2">EPC</option>
        <option value="3">Other</option>
      </select>
      <label>Planned</label>
      <select class="browser-default" name="planned" required>
        <option value="" disabled selected>Choose your option</option>
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
      <label>Loss of generation</label>
      <select class="browser-default" name="lossOfGeneration" required>
        <option value="" disabled selected>Choose your option</option>
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
      <label>Category</label>
      <select class="browser-default" name="category" required>
        <option value="" disabled selected>Choose your option</option>
        <option ng-repeat="category in incidentCategory" value={{category.id}}>{{category.value}}</option>
      </select>
      <div class="input-field col s12">
        <textarea name="details" class="materialize-textarea" required></textarea>
        <label for="details">Incident details</label>
      </div>
      <label>Closed</label>
      <select class="browser-default" name="isClosed" required>
        <option value="" disabled selected>Choose your option</option>
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
      <hr>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
